body {
    background-color: whitesmoke;
    color: #007bff ;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    font-family: 'Staatliches', cursive;
}

.image{
    width: 370px;
    margin-top: 50px;
}

@media(max-width: 770px){
    .container{
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');